* {
  box-sizing: border-box;
}

html {

}

body {
  background-color: white;
  font: 13px/1.5 sans-serif;
  width: 90%;
  margin: 0 auto;
}
p {
  display: block;
}
.intro {
  margin: 0 auto;
  vertical-align: top;
  padding: 10px;
  display: block;
  text-align: justify;
  width: 90%;
  font-size: 150%;
}

.right  {
  text-align: right;
}
.main-box {
  margin: 10px 10px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-box-item {
  height: 175px;
  line-height: 60px;
  margin: 4%;
  padding: 0;
}

.main-box-item a {
  margin: 0 auto;
  width: 150px;
}

img {
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 150px;

}

.footer {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #aaa;

}

.footer-links {
  text-align: center;
  display: inline;
  margin: 0 10px;


}
